.visuals#coherence {
    
    background: linear-gradient(to bottom, var(--bs-purple), var(--bs-indigo));

}






.celeste {
    margin: 100px;
}







.network {
    font-size: larger;
}



.wavedash {
    width: 390px;
    height: 300px;
    margin-right: 300px;

}

.youtube {
    color: var(--bs-white);
}

.youtube:hover {
    color: var(--bs-yellow);
}
.youtube:visited {
    color: var(--bs-green);
}










.kasumi {
    margin: 100px;
}


.royal#arcana {
color: var(--bs-white);
font-size: xx-large;
}