h1.title {
text-align: center;
color: var(--bs-blue);  
}

#About_me {
     text-align: center;
     color:var(--bs-red);
     
}

/* margin auto makes the image centered*/
#portrait.img img {
    display: block;
    margin: auto;
    max-width: 100px ;
    border-radius: 100px;
    width: 100px;
    height: 100px;
    
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100px;
    background-color: aqua;
}


a.github {
background-color: aqua;

}

a.github:visited {
    background-color: green;
    color: var(--bs-yellow);
}

h2.about {
    text-align: center;
}

button#reveal {
    background-color: green;
    
}


/*button#reveal:active {
    color: yellow;
}*/


button#reveal:hover {
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: red;
    width: 100px;
    height: 100px;

}