h1.title {
text-align: center;
color: var(--bs-blue);  
}

#About_me {
     text-align: center;
     color:var(--bs-red);
     
}

/* margin auto makes the image centered*/
#portrait.img img {
    display: block;
    margin: auto;
    max-width: 100px ;
    border-radius: 100px;
    width: 100px;
    height: 100px;
    
}

.title::first-letter {
color: var(--bs-black);
}