.SCP#setup {
margin: 100px;

}

.SCP:hover {
   color: var(--bs-blue);
}

.transfer#ip {
   color: var(--bs-blue);
}


.grep#lab {
   margin: 100px;
}

.greppable {
   color: var(--bs-green);
}


#lab:hover {
   color: var(--bs-green);
}
#data {
   margin: 100px;
}

.visuals {
   background: linear-gradient(to bottom, var(--bs-orange), var(--bs-teal));
}

.AWKward {
   margin: 100px;
}
.paragraph_2 {
   color: var(--bs-blue);
   
}

.paragraph_3 {
   color: var(--bs-indigo);
   margin-top: 20px;
}

.hidden:hover {
   font-size: 20px ;
   background-color: var(--bs-yellow);
}

.sed:hover {
   color: var(--bs-purple);
}

.AWKward:hover {
   color: var(--bs-indigo);
}
.cowsay:hover {
   color: var(--bs-blue);
}

