.SCP#setup {
margin: 100px;

}

.SCP:hover {
   color: var(--bs-blue);
}




.grep#lab {
   margin: 100px;
}


#lab:hover {
   color: var(--bs-green);
}
#data {
   margin: 100px;
}

.visuals {
   background: var(--bs-green);
}

.AWKward {
   margin: 100px;
}

.hidden:hover {
   font-size: 20px ;
   background-color: var(--bs-yellow);
}

.sed:hover {
   color: var(--bs-purple);
}

.AWKward:hover {
   color: var(--bs-indigo);
}
.cowsay:hover {
   color: var(--bs-blue);
}

